version: 2.1
jobs:
  build:
    docker:
      - image: rocker/verse:4.0.5
    steps:
      - checkout
      - run:
          name: Install package dependencies
          command: R -e "devtools::install_deps(dep = TRUE)"
      - run:
          name: Build package
          command: R CMD build .

